@import url(http://fonts.googleapis.com/css?family=Abel);
body{
	overflow: hidden;
}

#nav-bar-wrapper{
	display: none;
}

.indepth_page_body img{
	width: 100%;
	max-width: 100%;
}

.indepth_pages{
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: white;
	font-family: 'Roboto';
	font-size: 19px;
	margin: auto;
	overflow: auto;
}

.indepth_page{
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: white;
	margin: auto;
}

.indepth_page_content{
	background-color:  white;
	position: relative;
}


.indepth_page_body{
	bottom: 0px;
	left: 0px;
	margin: 0 auto;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 2;
}

#indepth_cover{
	height: 757px;
	background: #141414;
}

#indepth_cover .indepth_page_body{
	position: relative;
	display: table;
}

#indepth_cover .indepth_titlle_container{
	float: left;
	 color: #FFF;
}

.indepth_page_content .indepth_text .f_letter{
	font-size: 60px;
	float: left;
	line-height: 50px;
	margin-right: 2px;
	font-weight: 700;
}

.indepth_juanes_section{
	width: 100%;
	background: #0a0a0a;
	height: 100%;
	display: table;
	font-family: 'Roboto Condensed';
	text-align: center;
	font-size: 16px;
}



.indepth_juan_container{
	position: relative;
}

.indepth_juan_logo{
	position: absolute;
	top: 0;
	transform: translateY(-120px);
	text-align: center;
	width: 100%;
	display: none;
}

.indepth_juanes_section{
	background-image: url(../images/Portada/juanfutbol.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
	background-position: fixed;
}

#myMenu{
	position: fixed;
  top: 30%;
  left: 5%;
  height: 40px;
  z-index: 70;
  padding: 0;
  margin: 0;
  display: table;
}

#myMenu ul{
	display: table;
}

#myMenu li{
	display: table;
	margin: 9px 0;
	overflow: hidden;
	
}

.indepth_menu_bar_cont{
	float: left;
	width: 0px;
	height: 23px;
	overflow: hidden;
}


.indepth_indepth_menu_bar{
	width: 100px;
	height: 23px;
	background-image: url(../images/Scrollmark/Label.png);
	float: left;
	font-size: 13px;
	color: white;
	font-family: 'Roboto condensed';
	padding-left: 16px;
	line-height: 23px;
	text-transform: uppercase;
	opacity: .8;
}

.indepth_menu_ball{
	width: 12px;
	height: 12px;
	margin: 5px 2px; 
	background-color: #8eb10d;
	float: left;
	border-radius: 50%;
	opacity: .3;
}

li.active .indepth_menu_ball{
	opacity: 1;
}

li.active .indepth_indepth_menu_bar{
	opacity: 1;
}

li.active .indepth_menu_bar_cont{
	-webkit-animation: indepth_menu_animation 2s 1; /* Safari 4+ */
	-moz-animation:    indepth_menu_animation 2s 1; /* Fx 5+ */
	-o-animation:      indepth_menu_animation 2s 1; /* Opera 12+ */
	animation:         indepth_menu_animation 2s 1; 
}

#indepth_quien.iactive{
	opacity: 1;
}

@-webkit-keyframes indepth_menu_animation {
  0%   { width: 0; }
  15%  { width: 116px;}
  75%  { width: 116px;}
  100% { width: 0; }
}
@-moz-keyframes indepth_menu_animation {
  0%   { width: 0; }
  25%  { width: 116px;}
  50%  { width: 116px;}
  100% { width: 0; }
}
@-o-keyframes indepth_menu_animation {
  0%   { width: 0; }
  25%  { width: 116px;}
  50%  { width: 116px;}
  100% { width: 0; }
}
@keyframes indepth_menu_animation {
  0%   { width: 0; }
  25%  { width: 116px;}
  50%  { width: 116px;}
  100% { width: 0; }
}



li .indepth_menu_ball:hover{
	opacity: .8;
}

.indepth_juan_img{
	height: 135px;
	margin: auto;
	margin-bottom: 40px;
}

.h_juan{
	height: 176px;
}

.indepth_juan_img img{
	height: 100%;
}

.indepth_full_img{
	width: 100%;
	height: 100%;
	
}

#indepth_visitantes{
	background-image: url(../images/Portada/Visitantes.jpg) , url(../images/Portada/Gradiente.jpg);
	background-position: center center;
	background-size: auto 100%, auto 100%; ;
	background-repeat: no-repeat,repeat;
}

.indepth_juan_text{
	color: white;
	width: 96%;
	max-width: 430px;
	margin: auto;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
}

#indepth_page2{
	padding: 60px 0;
}


.indepth_numero_title{
	font-family: 'Abel';
	text-align: center;
	font-size: 34px;
	color: #19262b;
	text-transform: uppercase;
	font-weight: 300;
	display: inline-block;
	margin-top: 30px;
	width: 100%;
}

.indepth_mes_numeros{
	font-size: 'Abel';
	text-align: center;
	font-size: 42px;
	color: #19262b;
	text-transform: uppercase;
	font-weight: 300;
}

.indepth_numeros_juan{
	max-width: 500px;
	margin: 60px auto;
	width: 100%;
	display: table;
	position: relative;
}

.indepth_numeros_juan_side{
	font-family: 'Roboto Condensed';
	font-size: 18px;
	color: #19262b;
	text-transform: uppercase;
	text-align: center;
}

.indepth_numeros_juan_side span{
	font-size: 52px;
}

.indepth_numeros_juan_side.izq{
	float: left;
}

.indepth_numeros_juan_side,der{
	float: right;
}

.indepth_numeros_juan_sep{
	width: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	height: 100%;
}

.indepth_numeros_juan_sep div{
	width: 1px;
	height: 100%;
	background: black;
	margin: auto;
}

.indepth_balls_container{
	display: table;
	margin: 40px auto;
}


.indepth_chart {
  position: relative;
  display: inline-block;
  width: 146px;
  height: 276px;
  text-align: center;
  margin:auto 55px;
  font-weight:bold;
}
.indepth_chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}


.indepth_chart_img{
	width: 142px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.indepth_chart_img img{
	width: 100%;
}

.percent {
  display: inline-block;
  z-index: 2;
  position: absolute;
  bottom: 0px;
  font-size: 90px;
  font-family: 'Roboto Condensed';
  width: 100%;
  left: 0;
  text-align: center;
  font-weight: 400;
}


.indepth_dispositivos_cont{
	width: 1010px;
	margin: 40px auto;
	height: 475px;
	
}

.indepth_dispositivo{
	margin: 0 15px;
	position: relative;
	height: 100%;
	float: left;
}

.indepth_dispositivo img{
	width: 100%;
}



.indepth_dispositivo_img{
	position: absolute;
	bottom: 0px;
}

.indepth_dispositivo_datos{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.indepth_dispositivo_circulo{
	background-color: #97ca0e;
	border-radius: 50%;
	color: white;
	line-height: 130px;
	text-align: center;
	font-size: 36px;
	font-family: 'Roboto Condensed';
	font-weight: 300;
	margin: auto;
}



.indepth_dispositivo_linea{
	background-color: #97ca0e;
	width: 2px;
	margin: auto;
	min-height: 20px;
}

.indepth_dispositivo_cir_pequeno{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: auto;
	background-color: #97ca0e;
}

.indepth_dispositivo.movil{
	width: 81px;
}


.indepth_dispositivo.movil .indepth_dispositivo_circulo{
	width: 130px;
	height: 130px;
	transform: translate(-25.5px, 0px);
}

.indepth_dispositivo.movil .indepth_dispositivo_linea{
	height: 130px;
}

.indepth_dispositivo.laptop{
	width: 515px;
}

.indepth_dispositivo.laptop .indepth_dispositivo_circulo{
	width: 94px;
	height: 94px;
	line-height: 94px;
	margin-top: 15px;
}

.indepth_dispositivo.laptop .indepth_dispositivo_linea{
	height: 25px;
}

.indepth_dispositivo.tablet{
	width: 302px;
}

.indepth_dispositivo.tablet .indepth_dispositivo_circulo{
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin-top: 35px;
	
}

.indepth_dispositivo.tablet .indepth_dispositivo_linea{
	height: 130px;
}


.indepth_grafica_usuario{
	max-width: 620px;
	width: 96%;
	margin: 50px auto;
	
}

.indepth_grafica_usuario img{
	width: 100%;
}

.indepth_genero_cont{
	width: 670px;
	display: table;
	margin:40px auto;
	border-top: 1px solid #f1f1f1;
	
}

.indepth_genero{
	width: 280px;
	height: 182px;
	line-height: 182px;
	font-size: 44px;
	
	background-repeat: no-repeat;
}

.indepth_genero.femenino{
	text-align: left;
	background-image: url(../images/MisNumeros/Mujeres.png);
	background-position: right center;
	float: left;
}

.indepth_genero.masculino{
	text-align: right;
	background-image: url(../images/MisNumeros/Hombres.png);
	background-position: left center;
	float: right;
}

.indepth_redes_container{
	display: table;
	margin: 60px auto;
}

.indepth_redes_item{
	float: left;
	margin:0 60px;
}

.indepth_redes_img{
	width: 135px;
	height: 135px;
	
}

.indepth_redes_img img{
	width: 100%;
}

.indepth_redes_text{
	text-align: center;
	margin-top: 30px;
	font-size: 50px;
}

#indepth_juanfluencer_back{
	background-image: url(../images/Juanfluencers/pixel.png);
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 2;
}

.indepth_juanfluencers_cont{
	z-index: 10;
	position: relative;
}

.indepth_juanfluencers_content{
	width: 100%;
	height: 300px;
	background-image: url(../images/Juanfluencers/pixel.png);
	background-repeat: repeat;
	color: white;
	font-family: 'Abel';
	font-size: 18px;
	display: table;
}

.indepth_juanfluncers_container{
	display: table-cell;
	vertical-align: middle;
	margin: auto;
}

.indepth_juanfluencers_title{
	font-size: 32px;
	max-width: 440px;
		text-align: center;
		text-transform: uppercase;
}

.indepth_juanfluencers_text{
		max-width: 440px;
		text-align: center;
		margin: auto;
}

.indepth_juanfluencers_red{
	width: 100%;
	height: 500px;
	background-position: center center;
	background-size: 1920px auto;
	background-repeat: no-repeat;
}

.indepth_juanfluencers_red.arriba{
	background-image:  url(../images/Juanfluencers/red_arriba.png);
	position: relative;
	background-position: center bottom;
}

.indepth_juanfluencers_red.abajo{
	background-image: url(../images/Juanfluencers/red_abajo.png);
	background-position: center top;
	height: 320px;
	
}

.indepth_gif_cont{
	width: 1370px;
	height: 100%;
	margin: auto;
	position: relative;
}

.indepth_gif_circle{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
}

#indepth_gif_1{
	left: 0px;
	bottom: 228px;
}

#indepth_gif_2{
	left: 207px;
	bottom: 0px;
}

#indepth_gif_3{
	left: 292px;
	bottom: 368px;
}

#indepth_gif_4{
	left: 638px;
	bottom: 60px;
}

#indepth_gif_5{
	left: 772px;
	bottom: 194px;
}

#indepth_gif_6{
	left:  1065px;
	bottom: -8px;
}

#indepth_gif_7{
	right:  0;
	bottom: 170px;
}


.indepth_numero_text{
	text-align: center;
	font-size: 16px;
	color: #6d6d6d;
}

.indepth_lab_cont{
	display: table;
	margin: 40px auto;
	
}

.indepth_lab_item{
	width: 126px;
	margin: 20px 15px;
	float: left;
}

.indepth_lab_img, .indepth_lab_img img{
	width: 100%;
}

.indepth_lab_text{
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	color: white;
}




.indepth_formato_cont{
	max-width: 800px;
	width: 98%;
	display: table;
	margin: 40px auto;
}

.indepth_formato_item{
	width: 100%;
	height: 188px;
	border-top: 1px solid #eeeeee;
	position: relative;
}


.indepth_formato_img{
	width: 216px;
	cursor: pointer;
	height: 100%;
	float: left;
	background-position: center center;
	background-repeat: no-repeat;
}

#indepth_formato_item_1 .indepth_formato_img {
	background-image: url(../images/Formatos/Iconos/FeaturedJuan.png);
}

#indepth_formato_item_1 .indepth_formato_img:hover{
	background-image: url(../images/Formatos/Iconos/FeaturedJuan_hover.png);
}

#indepth_formato_item_2 .indepth_formato_img {
	background-image: url(../images/Formatos/Iconos/Billboard.png);
}

#indepth_formato_item_2 .indepth_formato_img:hover{
	background-image: url(../images/Formatos/Iconos/Billboard_hover.png);
}

#indepth_formato_item_3 .indepth_formato_img {
	background-image: url(../images/Formatos/Iconos/Listicle.png);
}

#indepth_formato_item_3 .indepth_formato_img:hover{
	background-image: url(../images/Formatos/Iconos/Listicle_hover.png);
}

#indepth_formato_item_4 .indepth_formato_img {
	background-image: url(../images/Formatos/Iconos/Infografia.png);
}

#indepth_formato_item_4 .indepth_formato_img:hover{
	background-image: url(../images/Formatos/Iconos/Infografia_hover.png);
}

#indepth_formato_item_5 .indepth_formato_img {
	background-image: url(../images/Formatos/Iconos/LoQuiero.png);
}

#indepth_formato_item_5 .indepth_formato_img:hover{
	background-image: url(../images/Formatos/Iconos/LoQuiero_hover.png);
}

#indepth_formato_item_6 .indepth_formato_img {
	background-image: url(../images/Formatos/Iconos/Slider.png);
}

#indepth_formato_item_6 .indepth_formato_img:hover{
	background-image: url(../images/Formatos/Iconos/Slider_hover.png);
}

#indepth_formato_item_7 .indepth_formato_img {
	background-image: url(../images/Formatos/Iconos/Rubik.png);
}

#indepth_formato_item_7 .indepth_formato_img:hover{
	background-image: url(../images/Formatos/Iconos/Rubik_hover.png);
}

#indepth_formato_item_8 .indepth_formato_img {
	background-image: url(../images/Formatos/Iconos/Splash.png);
}

#indepth_formato_item_8 .indepth_formato_img:hover{
	background-image: url(../images/Formatos/Iconos/Splash_hover.png);
}

#indepth_formato_item_9 .indepth_formato_img {
	background-image: url(../images/Formatos/Iconos/Indepth.png);
}

#indepth_formato_item_9 .indepth_formato_img:hover{
	background-image: url(../images/Formatos/Iconos/Indepth_hover.png);
}

#indepth_formato_item_10 .indepth_formato_img {
	background-image: url(../images/Formatos/Iconos/Native.png);
}

#indepth_formato_item_10 .indepth_formato_img:hover{
	background-image: url(../images/Formatos/Iconos/Native_hover.png);
}

#indepth_formato_item_11 .indepth_formato_img {
	background-image: url(../images/Formatos/Iconos/Postal.png);
}

#indepth_formato_item_11 .indepth_formato_img:hover{
	background-image: url(../images/Formatos/Iconos/Postal_hover.png);
}

#indepth_formato_item_12 .indepth_formato_img {
	background-image: url(../images/Formatos/Iconos/Tradicional.png);
}

#indepth_formato_item_12 .indepth_formato_img:hover{
	background-image: url(../images/Formatos/Iconos/Tradicional_hover.png);
}

#indepth_formato_item_13 .indepth_formato_img {
	background-image: url(../images/Formatos/Iconos/Juanpartner.png);
}

#indepth_formato_item_13 .indepth_formato_img:hover{
	background-image: url(../images/Formatos/Iconos/Juanpartner_hover.png);
}

.indepth_text_cont{
	height: 100%;
	display: table;
	padding-right: 25px;
	padding-right: 25px;
}

.indepth_text_cont_in{
	display: table-cell;
	vertical-align: middle;
}

.indepth_fotmato_title{
	font-family: 'Roboto Condensed';
	font-size: 22px;
	color: #3f3f3f;
	margin-bottom: 10px;
}


.indepth_formato_medidas{
	font-family: 'Roboto Condensed';
	font-size: 16px;
	font-style: italic;
	color: #808183;
	margin-bottom: 20px;
}

.indepth_formato_texto{
	font-family: 'Roboto Condensed';
	font-size: 16px;
	color: #c1c3c6;
}

.indepth_icon_ver{
	position: absolute;
	width: 27px;
	height: 17px;
	background-image: url(../images/Formatos/VerEjemplo.png);
	top: 50px;
	right: 0;
	cursor: pointer;
}

.indepth_icon_ver:hover{
	background-image: url(../images/Formatos/VerEjemplo_hover.png);
}

#indepth_juan_lab{
	background-image: url(../images/Juanfluencers/pixel.png);
}

.indepth_lab_title{
	color: white;
	font-family: 'Abel';
	text-align: center;
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 300;
	display: inline-block;
	margin-top: 30px;
	width: 100%;
}
 
 .indepth_lab1_text{
	color: white;
	font-family: 'Abel';
	text-align: center;
	font-size: 16px;
}



.indepth_formato_modal{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.41);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
	
}

.indepth_formato_img_cont{
	display: none;
	vertical-align: middle;
	overflow-y: scroll;
	position: relative;
}

.indepth_formato_modal_img_h{
	height: 90%;
}

.indepth_formato_modal_img{
	text-align: center;
	max-width: 96%;
	width: 1000px;
	height: 98%;
	margin: auto;
	max-height: 900px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}


#indepth_fomato_1 .indepth_formato_modal_img{
	background-image: url(../images/Formatos/Ejemplos/Billboard.jpg);
}

#indepth_fomato_2 .indepth_formato_modal_img{
	background-image: url(../images/Formatos/Ejemplos/Billboard.jpg);
}

#indepth_fomato_3 .indepth_formato_modal_img{
	background-image: url(../images/Formatos/Ejemplos/Listicle.jpg);
}

#indepth_fomato_4 .indepth_formato_modal_img{
	background-image: url(../images/Formatos/Ejemplos/Infografia.jpg);
}

#indepth_fomato_5 .indepth_formato_modal_img{
	background-image: url(../images/Formatos/Ejemplos/LoQuiero.jpg);
}

#indepth_fomato_6 .indepth_formato_modal_img{
	background-image: url(../images/Formatos/Ejemplos/Slider.jpg);
}

#indepth_fomato_7 .indepth_formato_modal_img{
	background-image: ;
}

#indepth_fomato_8 .indepth_formato_modal_img{
	background-image: url(../images/Formatos/Ejemplos/Splash.jpg);
}
#indepth_fomato_9 .indepth_formato_modal_img{
	background-image: url(../images/Formatos/Ejemplos/Indepth.jpg);
}

#indepth_fomato_10 .indepth_formato_modal_img{
	background-image: url(../images/Formatos/Ejemplos/Native.jpg);
}

#indepth_fomato_11 .indepth_formato_modal_img{
	background-image: url(../images/Formatos/Ejemplos/Postal.jpg);
}
#indepth_fomato_12 .indepth_formato_modal_img{
	background-image: url(../images/Formatos/Ejemplos/Tradicional.jpg);
}
#indepth_fomato_13 .indepth_formato_modal_img{
	background-image: ;
}

.indepth_Juanpartner_cont{
	width: 96%;
	text-align: center;
	max-width: 650px;
	margin: 40px auto;
	display: table;
	
}

.indepth_Juanpartner_title{
	font-size: 26px;
	color: #3f3f3f;
	text-transform: uppercase;
	margin-top: 30px;
	font-weight: 300;
	margin-bottom: 30px;
	
}

.indepth_Juanpartner_texto{
	font-size: 16px;
	color: #808183;
	margin-bottom: 60px;
}

.indepth_Juanpartner_img{
	width: 208px;
	height: auto;
	margin: auto;
}



#indepth_showroom{
	background-image: url(../images/Juanfluencers/pixel.png);

}

.indepth_showroom_content{
	max-width: 960px;
	margin: 50px auto;
	display: table;
}

.indepth_showroom_item{
	width: 316px;
	height: 236px;
	float: left;
	margin: 3px 2px;
}

.indepth_showroom_item:hover{
	opacity: .8;
}

.indepth_disponible_title_line{
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 39%;
	display: table;
	margin-top: 20px;
}

.indepth_disponible_title_line.left{
	left: 0px;
}

.indepth_disponible_title_line.right{
	right: 0px;
}

.indepth_disponible_title_line div{
	width: 100%;
	height: 2px;
	display: table-cell;
	vertical-align: middle;
	background-color: #9bc512;
}

.indepth_disponible_title{
	text-align: center;
	text-transform: uppercase;
	width: 960px;
	display: table;
	margin: auto;
	position: relative;
	color: white;
	margin-top: 60px;
}

.indepth_juanificate_picos{
	height: 16px;
	width: 100%;
	background-image: url(../images/Juanificate/Picos.png);
}

.indepth_juanificate_content{
	background-color: #a6cf0c;
	display: table;
	width: 100%;
	color: white;
}

.indepth_juanificate_in{
	display: table;
	margin: 60px auto;
	text-align: center;
}

.indepth_juanificate_title{
	font-family: 'Abel';
	font-size: 40px;
	text-transform: uppercase;
}

.indepth_juanificate_line{
	height: 1px;
	margin: 20px auto;
	width: 35px;
	background-color: #81b009;
}

.indepth_juanificate_ecribe, .indepth_juanifiacte_mail{
	font-size: 20px;
	font-family: 'Roboto condensed';
	color: white;
	text-decoration: none;
	font-variant: normal;
}

.indepth_juanificate_in a {
	text-decoration: none;
}


.indepth_juanifiacte_mail{
	margin-top: 5px;
	padding-bottom: 30px;
	background-image: url(../images/Juanificate/Email.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}



/****social*****/
.indepth_home-element-social div{
	float: left;
	margin-top: 3px;
	margin-left: 6px;
}

.indepth_home-element-social{
	width: 160px;
	margin: 15px auto;
	height: 30px;
}

/**********************/

.indepth_page_content .indepth_page_body{
	position: relative;
}

.indepth_page_content .indepth_container{
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}

.indepth_page_content .indepth_title{
	font-size:34px;   /* tamaño */
	font-family: 'Roboto', sans-serif; /* fuente */
	font-weight: 600;
	text-transform: uppercase; /* comentar para quitar mayusculas */
	text-align: center; /* ajustar alineacion (justify, left, right o center) */	
	color: #000;
}

.indepth_page_content .indepth_subtitle{
	font-size:22px;   /* tamaño */
	font-family: 'Roboto', sans-serif; /* fuente */
	font-weight: 400;
	text-transform: uppercase; /* comentar para quitar mayusculas */
	text-align: center; /* ajustar alineacion (justify, left, right o center) */	
	color: #000;
}

.indepth_page_content .indepth_text{
	color: #535252; /* color de la fuente*/
	text-align:justify; /* ajustar alineacion (justify, left, right o center) */
	font-weight: 400;
	font-size: 1em;
}

.indepth_page_infografia .indepth_page_body{
	text-align: center;
}

#indepth_footer{
	background-color: #F8F8F8;
	border-top: 1px solid #8A8A8A;
	border-bottom: 1px solid #8A8A8A;
	padding: 15px 0px;
	display: inline-block;
	vertical-align: middle;
}

#indepth_footer .indepth_text{
	font-size:17px;
	color: #8A8A8A;
	text-align:center;
}

#indepth_footer .indepth_page_body{
	position: relative;
}

#indepth_footer .Copyright{
		float: left;
		text-align: center;
		width: 100%;
}

.indepth_break{
		height: 800px;
}

.indepth_break .indepth_page_body{
	height: 100%;
	background-size: cover;
	top: 0px;
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0px;

}

.indepth_break .indepth_text_container{
		height: 100%; /* */
		display: table;
	padding: 0 30px;
}



.indepth_parallax_back {
	height: 100%;
	background-size: cover;
	background-color: #000;
	top: 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
}





 .indepth_quote{
	font-family: 'Roboto';
	font-size: 25px;
	color: #000;
	/*border-bottom: 2px solid #000;
	border-top: 2px solid #000;*/
	padding: 10px 10px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

.indepth_quote_right{
	width: 300px;
	float: right;
	margin: 10px 0 10px 15px;
}

.indepth_quote_left{
	width: 300px;
	float: left;
	margin: 20px 15px 20px 0;
}

.indepth_quote_center{
		width: 84%;
		margin: 30px auto;
		border-bottom:  3px solid black;
		border-top: 3px solid black;
		padding: 20px 3%;
		
}

.indepth_quote_side{
	font-size:21px;width:45%;margin:40px 0;
	float: left;
}


.indepth_image_side{
	width:45%;margin:0px;
	float: left;
}

.indepth_image_side img{
	width: 100%;
}

/****DINAMICO****/

.indepth_page_uno{
	background: white;
}



#indepth_break_1 .indepth_parallax_back{
	background-image: url(../images/break3.jpg)
}

#indepth_break_2 .indepth_parallax_back{
	background-image: url(../images/break1.jpg);
}

#indepth_break_3 .indepth_parallax_back{
	background-image: url(../images/break2.jpg);
}

.indepth_image_movil{
	display: none;
}

.indepth_image_1000{
	max-width: 1000px;
	margin: auto;
	width: 100%;
}


.indepth_image_1000 img{
	width: 100%;
}

.indepth_img_cir_cont{
	max-width: 1000px;
	width: 100%;
	margin: auto;
	
}


.indepth_img_cir{
	width: 50%;
	float: left;
}

.indepth_img_cir img{
	width: 100%;
}


.indepth_quote_container{
	width: 700px;
	margin: auto;
margin-bottom: 60px;
margin-top: 60px;
color: #878787;

}

.indepth_quote_container hr{
	width: 50px;
	margin: center;
}
 .indepth_quote{
	font-family: 'Roboto';
	font-size: 25px;
	/*border-bottom: 2px solid #000;
	border-top: 2px solid #000;*/
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	letter-spacing: 0.05em;
		
}

@media screen and (min-width: 1920px) {
	#indepth_libros_container{
		width: 1920px;
		margin: auto;
	}
}

@media screen and (min-width: 2341px) {
	#indepth_footer .indepth_text{
		text-align:left;
		margin-left: -300px;
	}
}

/* mobile adecuations */

@media screen and (max-width: 1960px) {
	min-width: 800px;
}

@media screen and (max-width:1400px) {
	.indepth_juanfluencers_red{
		height: 365px;
		background-size: 1400px auto;
	}
	
	.indepth_gif_circle{
		width: 70px;
		height: 70px;
	}
	
	.indepth_gif_circle img{
		width: 100%;
	}
	
	.indepth_gif_cont{
		width: 1000px;
	}
	
		
	#indepth_gif_1{
		left: 0px;
		bottom: 170px;
	}
	
	#indepth_gif_2{
		left: 150px;
		bottom: -6px;
	}
	
	#indepth_gif_3{
		left: 212px;
		bottom: 270px;
	}
	
	#indepth_gif_4{
		left: 462px;
		bottom: 44px;
	}
	
	#indepth_gif_5{
		left: 570px;
		bottom: 144px;
	}
	
	#indepth_gif_6{
		left: 786px;
		bottom: -4px;
	}
	
	#indepth_gif_7{
		right:  0;
		bottom: 125px;
	}

}


/*** Movil ****/

@media screen and (max-width:1023px) {
	#indepth_visitantes{
		background-size: cover;
	}	
	
	.indepth_juanfluencers_red{
		height: 267px;
		background-size: 1000px auto;
	}
	
	.indepth_gif_circle{
		width: 50px;
		height: 50px;
	}
	
	.indepth_gif_circle img{
		width: 100%;
	}
	
	.indepth_gif_cont{
		width: 730px;
	}
	
		
	#indepth_gif_1{
		left: 0px;
		bottom: 124px;
	}
	
	#indepth_gif_2{
		left: 110px;
		bottom: -4px;
	}
	
	#indepth_gif_3{
		left: 155px;
		bottom: 194px;
	}
	
	#indepth_gif_4{
		left: 340px;
		bottom: 32px;
	}
	
	#indepth_gif_5{
		left: 412px;
		bottom: 102px;
	}
	
	#indepth_gif_6{
		left: 568px;
		bottom: -3px;
	}
	
	#indepth_gif_7{
		right:  0;
		bottom:90px;
	}

}

@media screen and (max-width: 800px) {
	
	
	#indepth_break_2 .indepth_parallax_back{
		
	}
	
	
	
#indepth_twitter_editor{
	padding-left: 10px;
}
#indepth_twitter_editor iframe {
	max-width: 280px;
}


.indepth_twitter_editor_header_caja{
	width: 240px;
}

#indepth_mapa_title{
	position: relative;
	width:  300px;
	margin: 0px auto;
	top:0px;
	left: 0px;
}

#indepth_mapa_title img{
	width: 100%;
	margin: 0px 0px 15px 0;
	
}




.indepth_mapa_text_title{
	font-size: 24px;
}

#indepth_mapa_controles{
	position: relative;
	margin: 15px auto;
	width: 201px;
	bottom: 0;
	right: 0;
}

#indepth_mapa_controles li{
	width: 34px;
	margin-right: 40px;
}


	.indepth_pages{
		width: 100%;
		max-width: 800px;	
		min-width: 0px;
	}

	.indepth_page{
		min-width: 0px;
		width: 100%;
		position: relative;
		overflow: hidden;
	}
	
	.indepth_page_body{
		margin: 0 auto;
	}
	
	#indepth_cover .indepth_titlle_container {
		width: 100%;
	}
	
	#indepth_cover .indepth_parallax_back{
		background-size: auto 800px;
		background-position: 50% 0;
	}
	
	.indepth_page_infografia .indepth_page_body{
		width: 100%;
	}
	
	.indepth_break .indepth_page_body{
		width: 100%;
	}
	#partidos{
		width: 100%;
	}
	
	#page_5 .indepth_break {
		height: 560px;
	}
	
	.indepth_page_infografia img{
		width: 640px;
	}

	#info_controls img{
		width: 100%;
	}
	
	/*** dinamico **/
	.indepth_break{
		max-height: 700px;
	}
	
	.indepth_break .indepth_parallax_back{
		background-size: auto 100%;
		background-attachment: scroll;
	}
	
	#indepth_break_5 .indepth_parallax_back{
		background-size: 1200px;
		background-attachment: scroll;
		height: 560px;
	}
	
	.indepth_break .indepth_parallax_back .indepth_text_container{
		padding: 0 10px;
	}

	
	
	#indepth_break_2 .indepth_parallax_back{
		background-position: 30% 50%;
	}


	#indepth_break_1 .indepth_parallax_back{
		background-position: 80% 50%;
	}


}

@media screen and (max-width: 640px) {
	#indepth_editor_profile .indepth_page_body{
		width: 100%;
		
	}
	
	.indepth_quote_container{
		width: 90%;
	}
	
	.indepth_text_container_left, .indepth_text_container_r{
		margin: auto;
	}
	
	#indepth_break_2 .indepth_text{
		
	}
	#indepth_break_2 .indepth_text_container{
		background-color: rgba(149, 149, 149, 0.7);
}
	

	
	
	
	#indepth_cover .indepth_parallax_back{
		background-size: auto 100%;
		background-position: 50% 50%;
	}
	
	.indepth_image_movil{
		display: block;
		margin: auto;
		width: 320px;	
	}
	
	.indepth_image_movil img{
		width: 100%;
	}
	
	.indepth_image_1000{
		display: none;
	}
	
	.indepth_img_cir_container{
		float: none;
		width: 100%;
	}
	
	.indepth_img_cir{
		width: 100%;
	}
	
	
	
	
	
}

@media screen and (max-width: 605px) {
	.indepth_media_cont{
	width:300px;display:table;margin:auto;margin-bottom:20px;margin-top: 20px;
	}

	.indepth_quote_side{
		font-size:21px;width:100%;margin:0px;margin-bottom: 15px;padding: 0px;
		float: left;
	}
	
	


.indepth_image_side{
	width:100%;margin:0px;
	float: left;
}

.indepth_image_side img{
	width: 100%;
}



	
	#indepth_cover{
		height: 650px;
	}
	
	
	
	.indepth_image_left,.indepth_image_r{
		float: none;
		margin: 30px auto;
		text-align: center;
	}
	
	.indepth_quote_left{
		width: 80%;
		float: none;
		margin: 0 auto 25px;
	}
	
	
	
	.indepth_parallax_back{
		background-attachment: initial;
	}
	
	.indepth_break .indepth_title{
		font-size:46px;
		text-transform: uppercase;
		font-weight: 700;
	}
	
	.indepth_libros_controles{
	display: none;
}

}

@media screen and (max-width: 414px) {

	#indepth_cover{
		height: 540px;	
	}
	
	#partidos{
		width: 100% !important;
	}
	
	.indepth_infografia_container{
		width: 300px;
	}
	
	.indepth_page_infografia img{
		width: 300px;
	}
	
	#info_controls{
		width: 300px;
	}
	
	#info_controls img{
		width: 100%;
	}
	
	.indepth_tabla_mapa_club_text{
		padding-left: 5px;
		font-size: 14px;
	}
	
	.indepth_mapa_text_content{
		width: 280px;
	}
	
	.indepth_tabla_mapa{
		width: 99%;
	}
	
	#indepth_mapa_text{
		width: 280px;
	}
	
	#indepth_cover .indepth_title{
		width: 95%;
		font-size: 36px;
		margin: auto;
		margin-top: 0px;
		max-width: 320px;
		float: none;
		text-align: center;
	}
	
	#indepth_cover .indepth_subtitle{
		float: none;
		text-align: center;
		width: 95%;
		max-width: 320px;
		font-size: 26px;
	}
	
	#indepth_cover .indepth_cover_back_body{
	bottom: 7%;
	padding: 20px 0;
	width: 95%;
	max-width: 320px;
	padding: 10px 15px;
	margin-left: 20px;
	margin: auto;
}


	
	#indepth_cover .indepth_cover_back_body{
	}
	
	.indepth_break {
		height: auto;
		width: 100%;
		height: 380px;
	}
	
	.indepth_break .indepth_parallax_back {
		background-size: auto 100%;
	}
	.indepth_break .indepth_parallax_back .indepth_text_container{
		padding: 10px 10px;
		float: left;
	}
	
	.indepth_quote_left{
		width: 300px;
	}
	
	.indepth_quote{
		font-size: 20px;
		padding: 0px;
	}
	.indepth_image_left{
		width: 100%;
	}
	.indepth_image_left img,.indepth_image_r img{
		width: 100%;
	}
	
	#indepth_break_1 .indepth_parallax_back{
	}
	

	#indepth_break_3 .indepth_parallax_back{
		background-position:  50% 50%;
	}
	
	
	.indepth_editor_comm{
		float: none;
		margin-right: 0px;
		width: 250px;
	}
	
	.rertert{
		width: 300px;
		
	}
	
	.editor_picture{
		margin: auto;
		position: relative;
	}
	
	.indepth_twitter_editor_header{
		text-align: center;
	}
	.indepth_twitter_editor_header span{
		padding: 0px 3px;
		margin-left: 0px;
	}

	

	#indepth_ads #indepth_parallax_back {
		background-size: 100%;
		height: 400px;
		background-color: #DEF020;
		background-repeat: no-repeat;
		background-attachment: initial;
		background-position: 50% 50%;
	}
}
	
@media screen and (max-width: 320px) {

	#indepth_cover .indepth_subtitle {
float: none;
text-align: center;
width: 95%;
max-width: 320px;
font-size: 20px;
}
	
}

@media screen and (max-height: 414px) {
	#indepth_libros_container{
		height: 320px;
	}
	

	
	.indepth_infografia_container{
		width: 500px;
	}
	
	#indepth_break_1{
		height: 400px;
	}
	
	.indepth_page_infografia img{
		width: 500px;
	}
	
	.indepth_break{
		height: 600px;
	}
	
	#indepth_break_5{
		height: 300px;
	}
	
	#indepth_cover {
height: 362px;
}
#indepth_cover .indepth_cover_back_body {
}

#indepth_cover .indepth_title {
font-size: 25px;
}
		#indepth_break_5 .indepth_parallax_back {
		background-size: auto 100%;
height: 300px;
		background-color: white;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: 50% 50%;
	}
	
	.simione {
		margin: -40px -50px -20px 10px;
		float: right;
	}
}

@media screen and (max-width: 736px) and (max-height: 414px){
	#indepth_cover .indepth_parallax_back{
		background-size: auto 100%;
	}
}

@media screen and (max-width: 1024px) and (max-height: 768px){
	.indepth_parallax_back{
		background-attachment: initial;
	}
	
}

@media screen and (max-height: 1024px) and (max-width: 768px){
	.indepth_parallax_back{
		background-attachment: initial;
	}

	
	#indepth_cover .indepth_parallax_back{
		background-size: auto 80%;
		background-position: 50% 50%;
	}
}
